.background{
    
    background-color: rgb(204, 234, 245);
}
header{
    display: flex;
    flex-direction: row;

}
nav{
width:40%;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
li{
    padding: 5px;
    margin: 15px;
}
