.productContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    margin: 15px;
}

.productInfoContainer {
    width: 600px;
    margin-left: 20px;
    padding-left: 15px;
}

.productInfoContainer h2 {
    text-align: center;
}

.productInfoContainer p {

    margin-left: 15px;

}

.productContainer img {
    width: 450px;
    height: 450px;
}